@import "tailwindcss";

:root {
    background-color: #1E1E1E;
    color: #FFFFFF
}

* {
    font-family: "Inter", "Roboto", ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

.article-content>p {
    margin-bottom: 0.75rem;
}

.article-content a {
    text-decoration: underline;
}